
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Generic stuff
html, body {
    background-color: $body-bg;
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-weight: 100;
    margin: 10px;
}

footer {
    text-align: right;
    font-size: 0.85em;
}

// Table for the rename file page
.file-list-table {
    td.large {
        width: 45%;
    }
    td.short {
        min-width: 50px;
        max-width: 80px;
        width: 5%;
    }
    td.centered {
        text-align: center;
    }
}

// Table for the edit tag page
.tag-file-table {
    tbody {
        tr {
            height: 75px;

            td, th {
                vertical-align: top;

                .suggested {
                    font-size: 10px;
                    margin-top: 5px;

                    ul {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                    }
                }
            }

            td.filename {
                vertical-align: middle;
                padding-left: 15px;
                max-width: 300px;
            }

            td.image {
                width: 50px;
                padding: 0px;
                text-align: center;
                vertical-align: middle;
                span {
                    margin: 0px;
                    padding: 0px;
                    font-size: 10px;
                    line-height: 1;
                    display: inline-block;
                }
            }

            td.year {
                width: 70px;
                max-width: 80px;
            }

            td.track, td.bpm, td.key {
                width: 60px;
                max-width: 70px;
            }

            td.action {
                width: 50px;
                max-width: 70px;
                text-align: center;
                vertical-align: middle;
                button {
                    width: 45px;
                }
                button:not(:last-child) {
                    margin-bottom: 5px;
                }
            }

            td.valid-button {
                text-align: right;
            }

        }
    }
}